<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Page</title>
    <style>
        body {
            background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614285784_64-p-chernii-fon-raznii-fon-71.jpg); /* Dark background */
            color: #f8f9fa; /* Text color */
        }
    
        /* Navbar styles */
        .navbar {
            background-color: #f8f9fa; /* Background color */
        }
    
        .navbar .nav-link {
            color: #333; /* Link color */
            margin-right: 10px; /* Space between links */
        }
    
        .navbar .nav-link:hover {
            color: #007bff; /* Link color on hover */
            text-decoration: none; /* Remove underline on hover */
        }
    
        .navbar .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    
        .navbar .nav-link.active {
            font-weight: bold; /* Bold font for active link */
        }
    
        .navbar .nav-link:last-child {
            margin-right: 0; /* Remove margin for last link */
        }
    
        /* Set text color to white for all elements except header and navbar */
        body *:not(header):not(navbar):not(nav-link) {
            color: white;
        }
    </style>

    
    <link rel="stylesheet" href="styles.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Admins page</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a href="/main" class="navbar-brand"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/main">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/holidays">Holidays</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/population">City population</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/weather">Weather</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Users</a>
                        </li>
                        
                        <div id="google_translate_element"></div>

                        <script>
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                            }
                        </script>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
<main class="container">
    <h1>Weather Data</h1>
    <button class="btn btn-primary" onclick="showAddWeatherModal()">Add Weather</button>

    <div id="weather-table" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Temperature (°C)</th>
                    <th>Description</th>
                    <th>Last Updated Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% weatherData.forEach(weather => { %>
                    <tr>
                        <td><%= weather.city %></td>
                        <td><%= weather.temperature %></td>
                        <td><%= weather.description %></td>
                        <td><%= new Date(weather.updatedAt).toLocaleDateString() %></td>
                        <td class="edit-actions">
                            <input id="<%= 'temperature-' + weather._id %>" class="edit-input form-control" type="number" placeholder="New Temperature">
                            <input id="<%= 'description-' + weather._id %>" class="edit-input form-control" type="text" placeholder="New Description">
                            <button class="btn btn-primary edit-btn" onclick="updateWeather('<%= weather._id %>')">Update</button>
                            <button class="btn btn-danger delete-btn" onclick="deleteWeather('<%= weather._id %>')">Delete</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</main>

<footer class="mt-auto py-3">
    &copy; Yessimkhan Azamat, SE-2230
</footer>

<div id="addWeatherModal" class="modal">
    <div class="modal-content">
        <h2>Add Weather Data</h2>
        <label for="newCity" class="form-label">City:</label>
        <input type="text" id="newCity" class="form-input" placeholder="Enter city">

        <label for="newTemperature" class="form-label">Temperature (°C):</label>
        <input type="number" id="newTemperature" class="form-input" placeholder="Enter temperature">

        <label for="newDescription" class="form-label">Description:</label>
        <input type="text" id="newDescription" class="form-input" placeholder="Enter description">

        <div class="form-buttons">
            <button class="form-btn add-btn" onclick="addWeather()">Add Weather</button>
            <button class="form-btn close-btn" onclick="closeAddWeatherModal()">Close</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function showAddWeatherModal() {
        const modal = document.getElementById('addWeatherModal');
        modal.style.display = 'flex';
    }

    function closeAddWeatherModal() {
        const modal = document.getElementById('addWeatherModal');
        modal.style.display = 'none';
    }

    async function addWeather() {
        const city = document.getElementById('newCity').value;
        const temperature = document.getElementById('newTemperature').value;
        const description = document.getElementById('newDescription').value;

        const newWeather = {
            city,
            temperature,
            description
        };

        try {
            const response = await fetch('/weather/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(newWeather),
            });

            const data = await response.json();

            if (data.success) {
                console.log('Weather data added successfully');
                window.location.reload();
            } else {
                console.error('Failed to add weather data:', data.error);
            }
            closeAddWeatherModal();
        } catch (error) {
            console.error('Error:', error);
            closeAddWeatherModal();
        }
    }

    async function updateWeather(weatherId) {
        const temperature = document.querySelector('#temperature-' + weatherId).value;
        const description = document.querySelector('#description-' + weatherId).value;

        const body = {
            temperature,
            description
        };

        try {
            const response = await fetch('/weather/' + weatherId, {
                method: 'PUT',
                body: JSON.stringify(body),
                headers: {
                    "Content-Type": "application/json",
                },
            });

            const data = await response.json();
            console.log(data)
            if (data.success) {
                window.location.reload();
            } else {
                console.error('Failed to update weather:', data.error);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function deleteWeather(weatherId) {
        try {
            const response = await fetch('/weather/' + weatherId, { method: 'DELETE' });
            const data = await response.json();
            console.log(data)
            if (data.success) {
                window.location.reload();
            } else {
                console.error('Failed to delete weather:', data.error);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
