<!DOCTYPE html>
<html lang="en">
<head>

    <script src="/main.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #343a40; /* Dark background */
            color: #fff; /* White text */
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        header {
            background-color: #0d1117;
            padding: 20px 0 0;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            color: white;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #343a40;
            padding: 10px 0;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 10px;
            border-radius: 5px;
        }

        h1 {
            text-align: center;
        }

        form {
            margin-top: 20px;
            text-align: center;
        }

        label {
            font-weight: bold;
            margin-right: 10px;
        }

        input {
            padding: 8px;
            margin-right: 10px;
        }

        button {
            margin-top: 20px;
            border-radius: 10px;
            padding: 8px 15px;
            background-color: #28a745;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        h2 {
            margin-top: 20px;
            color: #343a40;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 10px 0;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: #0d1117;
        }

        footer {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            margin-top: auto;
            width: 100%;
        }
    </style>
    
        
</head>
<body>
<header>
    <h1 class="">Welcome <%= username %></h1>
    <nav>
        <a href="/main" class="text-white" style="text-decoration:underline;">Main</a>
        <a href="/holidays" class="text-white">Holidays</a>
        <a href="/login" class="text-white">Log out</a>
        <a href="/admin" class="text-white">Admin</a>
        <a href="/population" class="text-white">Population</a>
        <a href="/itemList" class="text-white">Item List</a>
        <a href="/quiz" class="text-white">Quiz</a>
        
        <div id="google_translate_element"></div>

        <script>
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    </nav>
</header>
<form action="/search" method="post">
    <div class="form-group">
        <label for="city" class="font-weight-bold">City:</label>
        <input type="text" id="city" name="city" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Search Weather</button>
</form>

<h2 class="mt-4">Saved Weather Data:</h2>
<ul>
    <% savedWeatherData.forEach(data => { %>
        <li class="mb-3">
            <%= data.city %> - <%= data.temperature %>°C, <%= data.description %>, by: <%= username %>
        </li>
    <% }); %>
</ul>


<script src="/main.js"></script>



<footer class="bg-dark text-white">
    &copy; 2024 Yessimkhan Azamat
    
</footer>

</body>
</html>
